<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Test User</h2>
            <h4>test@example.com</h4>
        </div>
        <img src="https://static.vecteezy.com/system/resources/previews/005/129/844/non_2x/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg"
            alt="test">
    </div>



    <mat-divider></mat-divider>


    <p style="text-align: center;">

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">
            <p>Dashboard</p>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="products">
            <p>Products</p>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="endofproduction">
            <p>Measurement</p>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="">
            <p>Home</p>
        </a>

    </p>

</mat-nav-list>